<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WELCOME TO ANGULAR</title>
</head>
<body>
  <h1>WELCOME TO ANGULAR</h1>
  <!-- <input type="number" (click)="selectPokemon($event)" /> -->

  <div class="container">
    <div class="row">
      <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="pokemon.picture" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{pokemon.name}}</p>
              <p><small>{{pokemon.created}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
